.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(235, 207, 165);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.leftside {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rightside {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1,
h2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
button {
  cursor: pointer;
}
