* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: rgba(46, 43, 216);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 0px 0px 20px 20px;
}

.leftside {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .search {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    padding-left: 10px;
  }
}
.rightside {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1,
h2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
h1 {
  cursor: pointer;
}
