* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .nav {
    width: 100%;
    height: 100px;
    background-color: rgba(46, 43, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
  }

  .leftside {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .icons {
      .mui_icon {
        color: rgb(201, 216, 230);
        margin-left: 20px;
      }
      span {
        color: rgb(201, 216, 230);
      }
    }
  }

  .navCenter {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .search {
      height: 40px;
      border-radius: 20px;
      padding-left: 10px;
    }
    .category {
      margin-left: -20px;
    }
  }
  .searchicon {
    display: none;
  }

  .rightside {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  h1,
  h2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a {
    text-decoration: none;
  }
  h1 {
    cursor: pointer;
  }
  .burger_menu {
    display: none;
  }
}
@media only screen and (min-width: 860px) and (max-width: 1024px) {
  .nav {
    width: 100%;
    height: 100px;
    background-color: rgba(46, 43, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
  }

  .leftside {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .icons {
      .mui_icon {
        margin-left: 10px;
        color: rgb(201, 216, 230);
      }
      span {
        color: rgb(201, 216, 230);
      }
    }
  }
  .navCenter {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .search {
      height: 40px;
      width: 60%;
      border-radius: 20px;
      padding-left: 10px;
    }
    .category {
      width: 20%;
      font-size: x-small;
      margin-left: -20px;
    }
  }
  .searchicon {
    display: none;
  }

  .rightside {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .language {
      margin-left: -20px;
      width: 20%;
    }
    .account {
      margin-right: -20px;
    }
  }
  .burger_menu {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 860px) {
  .nav {
    width: 100%;
    height: 100px;
    background-color: rgba(46, 43, 216);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
  }

  .icons {
    position: absolute;
    top: 40px;
    right: 150px;
    .mui_icon {
      color: rgb(201, 216, 230);
      margin-left: 30px;
    }
    span {
      color: rgb(201, 216, 230);
    }
  }
  .searchicon {
    margin-top: 40px;
    color: antiquewhite;
    width: 40px;
    height: 40px;
  }
  .navCenter {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search {
      display: none;
    }
    .category {
      display: block;
      color: white;
      font-size: x-small;
      margin-right: -200px;
    }
  }
  .new_nav_center {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search {
      display: block;
    }
    .category {
      display: none;
    }
  }
  .rightside {
    display: none;
    .language {
      display: none;
    }
    .account {
      display: none;
    }
  }
  .burger_menu {
    width: 40%;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu_bar {
    .bar {
      display: block;
      display: flex;
      flex-direction: column;
      width: 30vw;
      height: 300px;
      background-color: antiquewhite;
      align-items: center;
    }
    .menu_icon {
      display: none;
    }
    .bar_account {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 640px) {
  .nav {
    width: 100%;
    height: 100px;
    background-color: rgba(46, 43, 216);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
  }

  .icons {
    display: none;
    .mui_icon {
      display: none;
    }
  }
  .searchicon {
    margin-top: 40px;
    color: antiquewhite;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .navCenter {
    width: 25%;
    margin-right: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search {
      display: none;
    }
    .category {
      display: block;
      color: white;
      font-size: x-small;
      margin-right: -200px;
      cursor: pointer;
    }
  }
  .new_nav_center {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search {
      display: block;
      margin-left: 50px;
    }
    .category {
      display: none;
    }
  }
  .rightside {
    display: none;
    .language {
      display: none;
    }
    .account {
      display: none;
    }
  }
  .burger_menu {
    width: 40%;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu_bar {
    .bar {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      height: 250px;
      background-color: antiquewhite;
    }
    .menu_icon {
      display: none;
    }
  }
  .account {
    width: 100%;
    display: flex;
    justify-content: center;
    .bar_account {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .bar_icons {
    display: flex;
    justify-content: space-evenly;
  }
}
