.itemcard {
  width: 100%;
  padding: 5px 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .about-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item_btns {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    .item_btn {
      cursor: pointer;
    }
  }
}
